<!DOCTYPE html>
<html>

<head>
  <title>BaysWorld Control Panel</title>
  <link rel="stylesheet" href="/retro.css">
</head>

<body>
  <div class="window">
    <div class="title-bar">
      <span>BaysWorld Platform Manager</span>
      <span>X</span>
    </div>
    <div class="window-body">